.CardItem {
    display: flex;
    justify-content: space-around;
    height: 300px;
    border: solid 0.5px #cfcfcf;
    border-radius: .5rem;
    width: 100%;
}
img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.Header{
    font-size: larger;

}